.main-content {
    display:flex;
    flex-direction: column;
    min-height:calc(100vh - 80px);
    background-color: #f7f7f7;
    padding:30px 0 10px;
    box-sizing:border-box;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.add-detail-text{
    font: normal normal bold 24px/25px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
}

.add-button {
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: floralwhite;
    opacity: 1;
    background:#008CFF; 
    border:none;
    border-radius: 5px;
    padding: 5px 18px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.add-button>img {
    position: relative;
    top: 4px;
}

.table-main {
    width: 80%;
    margin:0 auto;
    overflow: auto;
}

.table {
    table-layout: auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    min-width: 800px;
}

td, th {
    text-align: left;
    padding: 7px 16px;
}
th  {
    background: 0% 0% no-repeat padding-box;
    font: normal normal 550 14px/21px Roboto;
    letter-spacing: 0px;
    color:gray;
    opacity: 2;
    border: 0px solid #dddddd;
    width: fit-content;
    padding: 1.25%;
    padding-bottom: 0%; 
}
td {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font : normal normal normal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 2;
}

td:first-child {
    padding-left: 50px;
}

th:first-child {
    padding-left: 50px;
}

td img {
    cursor: pointer;
}

td img:last-child{
    margin-left: auto;
    margin-inline: 20px;
}

td:last-child {
    padding-right: 0px;
}

th:last-child {
    padding-right: 0px;
}